[2020-09-07 09:33] nmvalera opened #13 "Fail to generate Orchestrate quick-start folder on Mac and nodejs v14"
# Description

The command `npx quorum-dev-quickstart` fails to generate quick-start folder after selecting `Y` for Orchestrate on Mac with nodejs v14.

Error message:

[code]

# Steps to reproduce

1. Create an account on Quorum website
2. Run `npx quorum-dev-quickstart`
3. During dialog select Besu network and `Y` to use Orchestrate

# Version

- nodejs v14

# Additional comment

After downgradi

[2020-09-07 21:26] joshuafernandes commented on #13
Do the other options work of plain network and or privacy? Also what version of docker is on the Mac please?

[2020-09-08 22:57] benjamincburns commented on #13
@nmvalera by any chance could you update this case with the following information (adding it as a comment is fine):

- output of `npx quorum-dev-quickstart --stackTraceOnError`
- output of `node --version`
- output of `docker --version`
- output of `ls /var/run/docker.sock` (specifically I need to be sure that this file exists)

[2020-09-09 02:10] benjamincburns commented on #13
I'm not able to reproduce this issue as described just yet, but I did reproduce and fix another problem that might be related. @nmvalera you may find that when they run the first command I asked for above, that things are working now. If they are, can you please let us know so we can close this ticket?

[2020-09-29 22:52] ToJen opened #15 "compose timeout"
After running `npx ...` and `npm install && npm start`, I got this:

<details><summary>Error logs</summary>
<p>

[code]

</p>
</details>

[2020-09-30 02:18] ToJen commented on #15
needed permissions from Mac for docker to access my file system

[2020-09-30 02:18] #15 closed

[2020-10-02 12:09] malaoui79 opened #16 "npm run register-chain do not respond (GoQuorum setup)"
- ENV : MAC CATALINA
- node : v14.10.1
All the quorum-test-network component are up and running.
We have an issue on the deps_eth_client_1. It's in restarting mode and here is the log :

*******************************************************************************
INFO [10-02|12:05:28.934] Maximum peer count ETH=50 LES=0 total=50

INFO [10-02|12:05:28.934] Smartcard socket not found, disabling e

[2020-10-02 14:05] malaoui79 opened #17 "npm run register-contract (Hyper ledger besu setup)"
npm run register-contract do not work :
******************************
(base) ➜  quorum-test-hlb npm run register-contract

Error: 14 UNAVAILABLE: could not create repository
    at Object.callErrorFromStatus (/Users/simo-mac/workspace/cultydata/blockchain/quorum/quorum-test-hlb/node_modules/@grpc/grpc-js/src/call.ts:81:24)
    at Object.onReceiveStatus (/Users/simo-mac/workspace/cultydata/blockch

[2020-10-02 14:31] malaoui79 commented on #17
Worked after all the container have been restarted !!

[2020-10-02 15:58] malaoui79 commented on #17
In fact, after some investigation, there is a race condition at startup, the init migration, migration container and postgres instance container are not well scheduled so we can start migration before the init migration script .... could be fixed by making migration script waiting for init termination.

[2020-12-01 02:38] DavidSunGoldhub opened #26 "How can I add one more member node and orion node in docker template ?"
Hi , I wanna create a one more backup node on member1 and orion1 . Those backup are sharing same key and config ,
here is my config file

member1backorion:
    << : *orion-def
    environment:
      - ORION_OTHERNODES=http://member2orion:8080/,http://member3orion:8080/,http://member1orion:8080/
      - ORION_NODEURL=http://member1backorion:8080
      - ORION_CLIENTURL=http://member1backorion:8888

[2021-02-21 14:28] MWaser opened #34 "Please update the docker hyperledger/besu registry"
It currently has version 20.10.0 from 3 months ago

 New permissioning system (released Dec 16, 2020) requires 20.10.1+

 It would be nice to have 20.10.4

[2021-03-11 06:06] benjamincburns commented on #13
Closing, as no response was given.

[2021-03-11 06:06] #13 closed

[2021-03-11 09:44] joshuafernandes commented on #34
Hi,

This has been fixed in #36

Cheers

[2021-03-11 09:44] #34 closed

[2021-03-11 10:02] joshuafernandes commented on #26
Hello @DavidSunGoldhub

What is the error that you see?

To add another node edit the compose file and add them in there. You will likely need to create new keys for both Orion and Besu and then run `./run.sh`, and then you can `stop.sh` and `resume.sh`

**To add the Besu node:**
Do you mean `host-whitelist` - if so that is set to `*` and doesn't need to be changed. https://github.com/ConsenSys/qu

[2021-03-13 13:43] kentimsit opened #41 "image not displayed"
The doc file https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/gquorum/README.md
references an image
https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/gquorum/static/blockchain-network.png
which is missing

[2021-03-15 10:21] ricardolyn opened #43 "`remove.sh` prunes all images from Docker"
Taking into consideration the limitations introduced by Docker when pulling images, we shouldn't remove the images from Docker when we run `./remove.sh`. Doing this will lead to continuos pulls from the docker repository which could hit the daily limit for that IP quickly (and also makes another `run.sh` slower for the same image tags).

This should be an optional parameter like `--prune` to that

[2021-03-17 07:12] #26 closed

[2021-03-17 07:24] eu09 commented on #26
Thanks for your help . please close this case.

[2021-03-17 21:43] joshuafernandes commented on #41
Hi @kentimsit

This is by design - it shows up in the right place when its run via `npx quorum-dev-quickstart` or in the repo by doing `npm run build && npm run start` which puts it in the right structure under a folder (defaults to `quourm-test-network`, but the user can override). But when view raw its a lot of templates to keep the duplication down to a minimum.

Cheers
Josh

[2021-03-23 11:49] #41 closed

[2021-03-23 11:50] joshuafernandes commented on #43
Hi @ricardolyn

Thanks for raising this; its a very valid point and should be fixed with #47

Cheers
Josh

[2021-03-24 10:26] bcuestav opened #48 "Migration error on deploy pet-shop dapp"
Hi,

I'm getting an error when deploy pet-shop dapp in HL Besu test network. The network deploy successfully but when I run './run_dapp.sh' script, get this error:

[code]

I remember do it some times ago, and it worked fine!

My environment is:

- OS X 10.15.7 (I try in Linux Ubuntu 18.04 with the same error)
- Docker version 20.10.5
- Node v12.21.0 (I try with other versions too)
- npm 6.14.11
-

[2021-03-25 01:10] #43 closed

[2021-04-11 22:31] joshuafernandes commented on #48
Hi @bcuestav

I belive this was due to an issue with the some changes metamask and truffle had made recently, #49 has fixed those and I've just spun up the DApp and used it without issue.

[code]

Running the DApp also let me adopt a pet fine
![image](https://user-images.githubusercontent.com/3722503/114323591-3a7bdf00-9b69-11eb-9fa8-4efc4b166278.png)

Are you able to test this again please and le

[2021-04-13 13:21] bcuestav commented on #48
Ok! It works now! It was the problem of the chainId!

By the way, the chainId remains to be changed in `smart_contracts/scripts/depoy.js`. I send a pull request!

[2021-04-13 13:21] #48 closed

[2021-04-14 08:20] bcuestav opened #51 "Wrong chainId"
Related with issue #48, the EventEmitter example  keeps crashing because chainId is 2018 in the next scripts:

https://github.com/ConsenSys/quorum-dev-quickstart/blob/2f16d92c5dfbb2ff16bd3f6665bb995cdebfcc19/files/besu/smart_contracts/scripts/deploy.js#L8

https://github.com/ConsenSys/quorum-dev-quickstart/blob/b06c0ba71cbc2fb14afe10523cbdc641e551bb8b/templates/gquorum/docker-compose.yml#L221

htt

[2021-04-17 10:23] mohjam2004 opened #53 "How to customize the Dapp deployment"
can I run the dapp provided in quorum-dev-quickstart in my deployed besu network? If yes, what changes I must do to run this dapp in my deployed besu network? I don't want to run it in "quorum-dev-quickstar" deployed network. I have my own deployed besu network
I mean what changes I must do in these Dapp configuration file?
![image](https://user-images.githubusercontent.com/59224403/115109699-a193

[2021-04-19 13:03] KevinSmall opened #55 "Stopping and resuming network does not bring up all containers successfully"
The quickstart demo network works correctly when started using `run.sh`. However, after executing `stop.sh` and `resume.sh`, not all containers get brought back up correctly.

This is running with WSL2 (Ubuntu 20.04.2 LTS), Windows 10 (version 2004 build 19041), Docker for Windows 20.10.5.

## To Replicate
1. Execute `npx quorum-dev-quickstart`. During setup, answers are: use goquorum, orchestrate

[2021-04-29 00:33] joshuafernandes commented on #53
The DApp in this repo is the Truffle Pet-Shop - full detail and tutorial is here https://www.trufflesuite.com:8443/tutorial

Yes, it can be run on any network, it's not specific to this one. You need an account on the chain with eth in it (and a keyProvider) and an RPC endpoint. For reference this is one way of several to do it https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/c

[2021-04-29 00:40] joshuafernandes commented on #17
@julien-marchand reckon we add this in if this is still a problem?

[2021-04-29 00:43] joshuafernandes commented on #16
@malaoui79 apologies for the late reply, Could you please confirm if this is still an issue - am not able to reproduce this on my machine

[2021-04-29 00:46] joshuafernandes commented on #51
Hi @bcuestav,
Thank you for raising this. This should be sorted with #57 & #49

Cheers

[2021-04-29 00:46] #51 closed

[2021-05-04 02:27] #53 closed

[2021-05-05 00:30] joshuafernandes commented on #55
Hi @KevinSmall thanks for reporting this issue. It should be fixed by #59

Cheers

[2021-05-05 00:30] #55 closed

[2021-05-06 14:02] malaoui79 commented on #16
Hi @joshuafernandes , thanks. I didn't try ...You can close it...I'l create a new ticket if I encounter the prob when I will have time to do the setup. Thanks.

[2021-05-06 21:01] joshuafernandes commented on #16
Sounds good @malaoui79

[2021-05-06 21:01] #16 closed

[2021-05-14 09:43] KevinSmall commented on #55
Thanks Josh, I can confirm this works well now.

[2021-05-19 09:23] mohjam2004 commented on #53
Hello @joshuafernandes
This URL is not available: https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/common/dapps/pet-shop/custom_config/truffle-config.js

[2021-05-19 10:36] mohjam2004 commented on #53
I have found it:
https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/besu/dapps/pet-shop/custom_config/truffle-config.js

[2021-05-24 05:54] Duanraudon opened #66 "Installation failed. Error: ENOENT: no such file or directory"
❌ Installation failed. Error: ENOENT: no such file or directory, mkdir '/project/quorum-test-network/block-explorer-light/dist
/css'
![image](https://user-images.githubusercontent.com/34836995/119302992-96bd3d00-bc97-11eb-8e07-e7a6411ef4c4.png)

[2021-05-25 03:35] hhubik opened #68 "Broken image link in README"
The following link in the README page is broken:
https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/besu/static/blockchain-network.png

[2021-06-10 12:45] ShantnuS opened #74 "Cakeshop version is not latest (Update to 0.12.1)"
The version of cakeshop used in this quickstart is 0.11.0. This is an old version that does not include the Cakeshop API page. Can this be updated to use 0.12.1?

[2021-06-10 23:46] joshuafernandes commented on #66
Hi @Duanraudon this generally happens for one of two reasons:
- the user running it doesn't have rights to create the folder
- the folder already exists

Im not able to reproduce this error, which version were you using of the quorum-dev-quickstart? What OS/environment is this on?

This is what I see below
![image](https://user-images.githubusercontent.com/3722503/121610628-cd69c480-ca99-11eb-8e22

[2021-06-10 23:47] joshuafernandes commented on #17
closing this one for lack of activity, please re open if this is an issue still

[2021-06-10 23:47] #17 closed

[2021-06-11 01:18] #66 closed

[2021-06-11 02:42] joshuafernandes commented on #68
Hi @hhubik

Is the readme file in question https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/besu/README.md ?

If so this is by design, to keep things dry. When the tool is installed via npx the images and templates are fused, wherein the paths are correct for the Readme.md of the Besu or Quorum variant

[2021-06-11 10:04] hhubik commented on #68
@joshuafernandes Yes, it is.  Thanks for the explanation.

[2021-06-11 10:04] #68 closed

[2021-07-04 11:40] BravoNatalie opened #81 "Docker-compose file is broken"
I'm trying to set up ConsenSys Quorum using Hyperledger Besu for the first time, and I run into an error on the docker-compose file while following the quickstart [tutorial](https://consensys.net/quorum/products/guides/getting-started-with-consensys-quorum/).

I follow the following steps to generate the error:

 1. `npx quorum-dev-quickstart`

 2. Which Ethereum client would you like to run? Defa

[2021-07-07 04:07] joshuafernandes commented on #81
Hello @BravoNatalie

Thank you for reporting this, it should be fixes with #82. Could you try this again please and let us know if there is still an issue?

Cheers
Josh

[2021-07-07 23:19] BravoNatalie commented on #81
Hi @joshuafernandes,

Thanks for the quick response. I just ran it again and it has the same error.

[2021-07-08 00:17] joshuafernandes commented on #81
Hi @BravoNatalie

This is very odd, those lines shouldn't exist in code anymore. Could you double check the version please?

I'm running on Ubuntu 20.04 and this is what I get on version 0.0.26:

![image](https://user-images.githubusercontent.com/3722503/124842823-d0da6800-dfd3-11eb-937b-5e77bcc23cb4.png)
![image](https://user-images.githubusercontent.com/3722503/124842846-de8fed80-dfd3-11eb-8aa9-

[2021-07-08 16:30] vmichalik commented on #74
Hey @ShantnuS, I'm sorry for the super late reply to you about this - I'll take a look, see if we can get it updated. If you are able to make a PR for it sooner than I do, please go for it!

[2021-07-12 21:52] #81 closed

[2021-07-12 23:38] joshuafernandes commented on #74
@ShantnuS this is fixed in v 0.0.28, as @vmichalik said we are more than happy for community members to send PRs across

[2021-07-12 23:38] #74 closed

[2021-10-01 06:14] Rocketdog89 opened #101 "npx quorum-dev-quickstart fails to initiate download in WSL2/VSCode environment"
![quorumQuickstart](https://user-images.githubusercontent.com/66406567/135574258-257c5d9c-9093-4eec-90ba-c1af26bf0161.PNG)
When entering `npx quorum-dev-quickstart` in my VSCode bash terminal, it fails to initiate download and says "bash: /mnt/c/Program Files/nodejs/npx: /bin/sh^M: bad interpreter: No such file or directory"

I have tried running in a standalone WSL2 terminal as well, but that yie

[2021-10-01 07:22] Rocketdog89 commented on #101
Issue resolved - node version conflict. Closing issue.

[2021-10-01 07:22] #101 closed

[2021-11-08 07:30] iskdrews opened #116 "Question: How to configure GraphQL in Besu setup?"
Hi,
I need help on how to configure and setup the GraphQL plugin in Besu setup by running the `./run.sh` command.
Do I need to add more config for GraphQL in the `docker-compose.yml`? or that should be in the `list.sh` script?
In the end Im looking forward to have this GraphQL link working:
- `http://${HOST}:8547/graphql`

[2021-11-17 15:18] antonydenyer commented on #116
Looks like the port isn't exposed. If you expose 8457 on the `rpcnode` that should do the trick.

[2021-11-19 11:06] leestott opened #119 "Azure Marketplace Dev Test services url link is wrong"
The current Azure Marketplace image for
Quorum Dev Quickstart needs updating the GitHub link goes to https://github.com/ConsenSys/besu-sample-networks/blob/master/besu_ibft2/genesis.json.template - THIS IS NO LONGER VALID

 Can the url be updated to go to this new repo https://github.com/ConsenSys/quorum-dev-quickstart

 Azure Marketplace Image
![MarplQuor](https://user-images.githubusercontent.co

[2021-12-01 08:54] Finmetrica opened #122 "QuickStart Blockscout"
I receive this message when i try to run ./run-blockscout.sh

Network already in use (.quorumDevQuickstart.lock present).
Restart with ./resume.sh or remove with ./remove.sh before running again.

I installed an empty VM with Ubuntu 20. The server just contains quorum-dev-quickstaret.

whats is wrong?
Thanks

[2021-12-06 03:44] joshuafernandes commented on #122
Hi @Finmetrica , thankyou for reporting this. Could you try with version 0.0.45 or upwards please? I've updated it so blockscout is now part of the main questions and not a seperate script. Docs have PR's and will be updated when approved and merged.

Give us a yell if you have further issues

[2021-12-16 01:58] #122 closed

[2021-12-16 03:10] joshuafernandes commented on #116
Hi @iskdrews the `list.sh` just lists the services running, @antonydenyer is right you need to :
- expose port 8547 https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/templates/besu/docker-compose.yml#L487
- enable the graphql options https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/templates/besu/docker-compose.yml#L49  Docs for graphql https://besu.hyperledger.org/en/la

[2021-12-22 00:14] joshuafernandes commented on #119
Hi @leestott thanks for this. I've updated things in the offering but it'll take a couple of weeks passing Azure's marketplace checks to come live

[2021-12-22 00:14] #119 closed

[2022-01-10 05:30] #116 closed

[2022-01-10 05:33] iskdrews commented on #116
Thanks so much @antonydenyer and @joshuafernandes

[2022-01-10 18:48] kimborgen opened #131 "java.io.IOException: Permission denied (failing validators on ubuntu 20.04)"
### Description
_let me know if I should rather post the issue on the besu github_

`npx quorum-dev-quickstart` cannot start a working network on a new, clean vm with ubuntu 20.04LTS (works on 18.04LTS, see aditional info)
Besu fails with several permissioned denied
Possible reasons I can think of
- wrong docker config
- doesnt work on ubuntu 20.04?

Let me know if you require more info. Thanks in

[2022-01-10 21:38] joshuafernandes commented on #131
Hi @kimborgen can you run `docker images` or `docker ps` and post the output here please? Im not sure what user you're running on Ubuntu, but you do need to add permissions for that user to be in the docker group. https://docs.docker.com/engine/install/linux-postinstall/

Could you confirm that you have done the above please? I am unable to reproduce this behaviour on my machine which also runs 20

[2022-01-11 14:42] kimborgen commented on #131
[code]
I confirm I executed the steps in postinstall
[code]
I played around, for example tried to use rootless docker, no luck.

### Fresh VM ubuntu 20.04LTS procedure
I tried a new fresh VM
[code]

Gives the same error as above

I also tried
- logging in as root, usermod -aG docker root, and ./run.sh, same error
- tried a different quorum-dev-quickstart config (no to private tx, no to blockspout

[2022-01-11 15:34] gomezgoiri commented on #131
Hi there,

I got the same error and I think it is related to the fact that the user I execute `npx quorum-dev-quickstart` with is not the user with uid 1000 (which is the one used by default in the docker image). A quick and ugly fix is to make the user with uid 1000 the owner of the config folder generated.

[2022-01-12 20:25] joshuafernandes commented on #131
Thanks for this @kimborgen @gomezgoiri I'll add a section on troubleshooting to the docs relating to this issue

[2022-01-19 21:16] joshuafernandes commented on #131
Addressed in #134

[2022-01-19 21:16] #131 closed

[2022-01-26 23:13] isavelli opened #135 "Making Cakeshop optional"
Hello,

I noticed that in v0.0.49 Cakeshop has been removed. For me this tool was very useful, could it be possible to have it as an optional software instead of completely removing it?

[2022-02-09 10:18] gomezgoiri opened #138 "wget not found in hyperledger/besu:21.10.2"
After creating a sample network I see in the _docker-compose.yml_ that _x-besu-tx-def_ checks whether tessera is running before starting besu (see it [here](
https://github.com/ConsenSys/quorum-dev-quickstart/blob/f31ba1055f13bea6584174d23c83df2cc0990820/templates/besu/docker-compose.yml#L66)).

However, the services which import this template (member1besu, member2besu and member3besu) redefine th

[2022-02-11 06:49] joshuafernandes commented on #135
Hi @isavelli thank you for raising this. Could you elaborate on what features you were specifically using in Cakeshop?

We are in the process of standardising the tooling used in the quickstart so that it supports both clients

[2022-02-11 11:58] isavelli commented on #135
Hi @joshuafernandes, for example in Cakeshop I can compile and deploy contract with privareFor, then I can explore the block deployed, change node, everything with one tool

[2022-02-13 22:43] joshuafernandes commented on #138
Hi @gomezgoiri good point and has been addressed by #140

[2022-02-13 22:43] #138 closed

[2022-02-13 22:50] joshuafernandes commented on #135
Hi @isavelli Thanks for that feedback. We are looking at alternatives re the private txns and a GUI tool there. There are quite a few concerns and antipatterns in cakeshop at present and we would like to address those and standardize things going forward. I will discuss the request and see what the consensus is re bringing it back - in the meantime though you can deploy cakeshop as a standaone com

[2022-02-22 08:24] ggarri opened #148 "Fix Orchestrate example when privacy is disabled"
When user choose to not enable privacy Orchestrate examples fail due to same RPC nodes are not available

[2022-02-22 08:25] ggarri opened #149 "Use arm64 based images when neccesary"
In case of users using a arm64 based CPU Orchestrate and QKM fails to start its services

[2022-02-23 00:21] joshuafernandes commented on #135
Hi @isavelli We are likely developing a new tool with a GUI for private transactions, which will support both clients. In the interim you can start cakeshop with the quorum-dev-quickstart following instructions here https://github.com/ConsenSys/cakeshop#running-with-the-quorum-dev-quickstart

[2022-02-23 00:21] #135 closed

[2022-03-09 08:44] wxker95 opened #153 "CORS configuration not working for Tessera"
I have attempted to enable CORS by adding to the tessera config as shown below.
[code]
However, trying to hit the `/storeraw` endpoint gave the following error:
Access to fetch at 'http://<host>/storeraw' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

Seems like the preflight re

[2022-03-16 00:03] joshuafernandes commented on #153
Hi @wxker95 could you confirm the request url you made please? `http:///storeraw` should instead be `http://localhost:9080/storeraw` ? or similar with an IP

[2022-03-16 07:14] wxker95 commented on #153
Hi @joshuafernandes

Can confirm that even though the error message shows `http:///storeraw`, it is hitting the correct endpoint. I know this because when using Quorum's 7 node [example](https://github.com/ConsenSys/quorum-examples) with a Tessera version of 0.10.2, I am able to use the storeraw API without issue with the same code. Not sure specifically which Tessera versions have this issue, but

[2022-03-30 06:49] kth-tw opened #159 "Blockscout always indexing"
I try to create a quorum test network with below argument:
[code]

After run `run.sh`, the network start successfully.
When I create a transaction with `smart_contracts/script/public_tx.js`.
<img width="682" alt="image" src="https://user-images.githubusercontent.com/88102592/160767788-11c47e13-8cd1-422e-944d-0cac0b12a293.png">
The transaction can be found in Ethereum Lite Explorer
<img width="528"

[2022-03-30 21:17] petermetz opened #160 "Contract Deployment Fails with: private transaction manager is not in use"
We are using [Web3 JS Quorum](https://github.com/ConsenSys/web3js-quorum) and trying to deploy a contract via a private transaction, onto the dev quickstart ledger, but it fails saying the private tx manager is not in use.

Questions:
1. Which transaction manager it refers to? Is it Tessera?
2. Is there an issue with the way the transaction is constructed (there must be I guess)
3. Should the `isP

[2022-03-31 23:14] joshuafernandes commented on #153
Gotcha @wxker95 I'll close this and follow this up on that issue. https://github.com/ConsenSys/tessera/issues/1385

[2022-03-31 23:14] #153 closed

[2022-03-31 23:16] joshuafernandes commented on #160
Hi @petermetz

Tessera is the PTM in question, what is the endpoint you are using for this please? If you look at the smart_contracts folder there are example scripts you can use for reference.

@macfarla anything wrong with the tx here?

[2022-03-31 23:19] joshuafernandes commented on #159
Hi @kth-tw this needs to be raised with the team at Blockscout - we do not maintainers of Blockscout. I'd suggest checking the logs for blockscout and raising an issue there

[2022-03-31 23:19] #159 closed

[2022-04-04 04:23] macfarla commented on #160
Nothing obvious jumps out at me - but yes steps to reproduce your issue would be helpful. What options are you running the quickstart with - besu or quorum? have you enabled privacy?

[2022-04-07 15:00] antonydenyer opened #165 "Volumes and mounts should be mounted as non-root users"
Currently the quickstart mounts things as the root user (e.g logs etc) this should be done as a non-elevated user. GoQ runs as root by default https://github.com/ConsenSys/quorum/issues/1367

[2022-04-11 07:36] kth-tw commented on #159
It seem to be fixed in this PR https://github.com/blockscout/blockscout/pull/5302
And you use docker image which is owner by consensys
https://github.com/ConsenSys/quorum-dev-quickstart/blob/2d622ab309a09e6f13a3521ff5476e28adc4f629/templates/goquorum/docker-compose.yml#L121
Could you update the docker image?

[2022-04-11 09:52] joshuafernandes commented on #159
Hi @kth-tw the issue has been merged recently, however there hasn't been a release with the issue https://github.com/blockscout/blockscout/releases. When there is a release we will update the image

[2022-04-18 10:02] joshuafernandes commented on #160
Hi @petermetz

Could you give us steps to reproduce this issue please?

Cheers
Josh

[2022-04-19 05:21] #165 closed

[2022-04-20 08:41] kth-tw commented on #159
I build a [docker image](https://hub.docker.com/layers/blockscout/eugene9467/blockscout/v4.0.0-goquorum/images/sha256-ec2d71906c1e2978fac68beed2e3b16f74b160478b559e0b3faba1088862a34b) which is base on 4.0.0 and [the change](https://github.com/blockscout/blockscout/pull/5302/files#diff-eaa58dcb9d2459f1a90a467ad3a0efef31b2c8a870dd97814afcb7ecabaea8cc)

Could you push this docker image to your docker

[2022-05-04 21:47] joshuafernandes commented on #160
Closing for lack of activity. @petermetz please re open if this is still an issue with steps to reproduce please

[2022-05-04 21:47] #160 closed

[2022-05-11 07:50] oooomoooo opened #173 "http://localhost:8545 Unable to connect"
The ubuntu system， I use has turned off the firewall, but I still can't link localhost: 8545, or the link is reset.
I did the following:
https://consensys.net/docs/goquorum/en/latest/tutorials/quorum-dev-quickstart/using-the-quickstart/

Please help me！

[2022-05-11 21:40] joshuafernandes commented on #173
Hello @oooomoooo Can you please post steps to reproduce and what options you selected? When you have your setup running can you post the output of `docker ps` please

[2022-05-12 08:49] #149 closed

[2022-05-25 05:55] #173 closed

[2022-06-03 08:38] mfolnovic opened #183 "Error: types.forEach is not a function"
While running `npm run private-transaction` (also happens with public-transaction), I get an error:

[code]

My steps are:

- `./run.sh`
- `cd smart_contracts/privacy`
- `npm install`
- `npm run compile`
- `npm run private-transaction`

I've determined that it happens since version 0.0.66. Version 0.0.65 is last version that works for me.

I'm running `npx quorum-dev-quickstart@xyz` (where xyz is

[2022-06-07 01:49] macfarla commented on #183
@mfolnovic do you get the same error with the latest quickstart ie 0.0.68?

[2022-06-07 04:33] #183 closed

[2022-07-04 05:51] ggarri commented on #148
No relevant anymore

[2022-07-04 05:51] #148 closed

[2022-07-22 07:04] avenbreaks opened #194 "Costume BlockScout"
where can i customize block explorer from blockscout? color, naming, icon, etc

![image](https://user-images.githubusercontent.com/93043826/180382902-2e76d3ed-3476-4103-bf36-902570ab0e16.png)

[2022-07-25 15:27] avenbreaks commented on #194
Solved, file at consensys/blockscout

[2022-07-25 15:28] #194 closed

[2022-07-26 16:42] logicalfarhad commented on #173
Hi there, I am facing the same issue. I am using the ubuntu 20.04 version. After running the docker command from here [quorum-dev-quickstart](https://consensys.net/docs/goquorum/en/latest/tutorials/quorum-dev-quickstart/using-the-quickstart/) I am trying to test the RPC node. However, I could not see any output. Here is the docker ps command output. As you can see, no port is assigned to the RPC
!

[2022-07-26 21:10] joshuafernandes commented on #173
Hello @logicalfarhad could you please give us a list of steps to reproduce what you're seeing with specs of machine as well as version of the quickstart. Also what are the logs form any of the validators or rpcnode - it appears that none of them are working in the screenshot and are restarting?

[2022-07-27 07:46] logicalfarhad commented on #173
Hello @joshuafernandes, I have followed the instruction from this link https://github.com/ConsenSys/quorum-dev-quickstart
I did not see any log for quorum or validators, or RPC node. I only found logs for teserra. I am missing something to find out the logs?
![image](https://user-images.githubusercontent.com/2293175/181191010-c681f694-3b8d-4576-802e-04fe08927b3f.png)

Thanks

[2022-07-27 22:34] joshuafernandes commented on #173
Hi @logicalfarhad yep, thats correct. None of your goquorum containers have started. Run a `docker ps -a ` and then `docker logs -f quourm.......` to see why they have failed. Which version of the quickstart are you using that you see this behaviour on?

[2022-07-27 22:55] joshuafernandes commented on #173
On v 0.0.73 (latest) I am unable to reproduce this. I have Ubuntu 22.04 and ran this with `npx quorum-dev-quickstart@0.0.73`

![image](https://user-images.githubusercontent.com/3722503/181386162-2493b3c4-fad1-42a7-a49d-595d8db0c494.png)

[2022-07-31 20:01] logicalfarhad commented on #173
@joshuafernandes Unfortunately, it does not run on my pc. I will try with another PC.

[2022-08-10 08:59] 4-Mix opened #197 "Error on Explorer/Contract Page"
Compiling example code with any version of Solidity causes an error

![image](https://user-images.githubusercontent.com/94184698/183861110-7adba5e0-4db2-46f9-88c0-3be12ee2cebc.png)

540-6adbe5fe9aefc9d0.js:1          POST http://localhost:25000/explorer/api/contractCompile 500 (Internal Server Error)
(anonimo) @ 540-6adbe5fe9aefc9d0.js:1
e.exports @ 540-6adbe5fe9aefc9d0.js:1
e.exports @ 540-6adbe5

[2022-08-27 00:00] rodion-lim-partior opened #201 "Link on GoQuorum README is broken"
Hi, the link on your GoQuorum README is broken. https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/goquorum/README.md

[2022-09-05 10:49] joshuafernandes commented on #201
Hi @rodion-lim-partior the readme here in the repo is intentional, its meant to be viewed when run from `npm quorum-dev-quickstart` which puts the readme in the right path when the templating is done

[2022-09-05 10:49] #201 closed

[2022-09-05 10:50] joshuafernandes commented on #197
Hello @4-Mix can you please tell us what version of the quickstart you are using and which client you are using. Ideally steps for us to replicate what you are seeing please

[2022-09-05 11:02] joshuafernandes commented on #197
On ver 0.0.75, I am unable to reproduce this using goquorum to compile the `simpleStorage` contract for public contract deploy. I've tried a few different versions of the compiler (>0.8.13) and all worked fine. You may need to wait a min or two after the quickstart containers come up for all the nodes to come up and the explorer to work right

![image](https://user-images.githubusercontent.com/372

[2022-09-05 11:47] rodion-lim-partior commented on #201
Hey @joshuafernandes, I didn't mean the path is broken. Your link to official docs is showing a 404 error. It should be without getting-started.

[2022-09-05 23:01] joshuafernandes commented on #201
Gotcha, thankyou @rodion-lim-partior this is fixed now in v 0.0.77

[2022-09-12 21:41] joshuafernandes commented on #197
Closing for lack of activity, Please feel free to re open if this is an issue and include the version you are using and steps to reproduce

[2022-09-12 21:41] #197 closed

[2022-09-19 14:19] wildsheepz opened #209 "Transactions stuck in queue on rpcnode"
Hi, I am new to quorum and I'm trying to deploy the simplestorage contract in Quorum Explorer. However, it seems that after clicking on the deploy button, the transaction seems to never complete. In the Nodes tab, I can see there is 1 Queued transaction on the rpcnode but it doesn't seem to be processed even after waiting a long time. I checked the logs and I saw recurring errors:

[code]
Is the e

[2022-09-19 21:44] joshuafernandes commented on #209
Hello @wildsheepz
Thanks for submitting this, could you please give us the following so we can look into this further?
- the version that you are running
- steps to reproduce this issue
- do you see blocks being created ie the chain head progressing?
-
Cheers

[2022-09-20 01:33] wildsheepz commented on #209
I checked out master so its #206.
All I did was `npm start`, then browse to http://127.0.0.1:26000, connected metamask and tried to deploy a contract.

Anyway, I may have found the problem. The private key for rpcnode in "network/smart_contracts/permissioning/scripts/keys.js" is wrong.

[code]
After correcting it and starting again, the txns are going through now.

[2022-09-20 05:49] joshuafernandes commented on #209
Gotcha, thanks for that @wildsheepz we'll fix that key

[2022-09-20 05:54] #209 closed

[2022-09-22 08:50] trilloc opened #211 ""Waiting for network to be up............""
![image](https://user-images.githubusercontent.com/63382707/191702125-d3919e4b-5418-4922-ad58-4fbf9beb8ab2.png)

on ubuntu 20.04, 4cvpu, 16G RAM, GCP -- after installing node, npm, docker-io, docker-compose and docker compose plugin,

I just ran the command:

npx quorum-dev-quickstart --clientType besu --outputPath ./quorum-test-network --monitoring default --privacy false --orchestrate true --quo

[2022-09-23 07:33] trilloc commented on #211
SOLVED: This is a problem with the user id being 1001 by default on GCP ubuntu. Logging in as user with id 1000 solves the problem.

[2022-09-23 07:33] #211 closed

[2022-11-08 15:49] cyborgdennett opened #212 "Stuck at 9 blocks"
Hello, I am running this with GoQuorum, and I get stuck at 9 blocks. I did nothing but do ./run.sh
![image](https://user-images.githubusercontent.com/40475862/200611421-1aea07fe-91ee-4478-8a23-3132a7f40b94.png)

[2022-11-15 23:26] jmcounters opened #213 "UNC paths are not supported. Defaulting to Windows directory."
Running into this issue when running `npx quorum-dev-quickstart`

![image](https://user-images.githubusercontent.com/118317606/202046033-a9a4f9d6-9bd3-4a89-811f-d5508929c685.png)

![image](https://user-images.githubusercontent.com/118317606/202046133-656810d2-d86d-410b-aeaf-87e7ca7218c9.png)

![image](https://user-images.githubusercontent.com/118317606/202046159-b3030d32-f105-4308-9974-e39208d020c

[2022-11-16 21:37] joshuafernandes commented on #212
Hello @cyborgdennett are your containers still running? That looks like one or more validators have failed, hence no more blocks

You can check with
```docker ps```

[2022-11-16 21:40] joshuafernandes commented on #213
Hello @jmcounters You need WSL for this to work. To the best of my knowledge this doesn;t work natively on Windows.

[2022-11-16 21:40] #213 closed

[2022-11-20 10:42] jmcounters opened #217 "Web block explorer"
Hi!

Node info is not populating:

![image](https://user-images.githubusercontent.com/118317606/202897717-b91c120d-b085-4c59-aed3-570c680160b0.png)

[2022-11-20 11:07] jmcounters commented on #217
Containers restarting often, most likely related. Can someone help?

![image](https://user-images.githubusercontent.com/118317606/202898776-cf16c358-33a5-4f96-829b-c5affb8200ac.png)

[2022-11-20 12:37] jmcounters commented on #217
I tried removing all the container and the quorum-dev-quickstart directory altogether, still facing the same issue

[2022-11-20 17:50] jmcounters commented on #217
Ran docker logs and found these in every restarting container

[2022-11-20 17:50] jmcounters commented on #217
![image](https://user-images.githubusercontent.com/118317606/202917803-30251b96-0d27-4140-a86e-e566d07ea2b3.png)

[2022-11-21 07:26] jmcounters commented on #217
Also tried logging in as root and remove and run the containers again, same issue. I hope someone can look into this soon. Thanks!

[2022-11-22 22:45] jmcounters commented on #217
@joshuafernandes Would appreciate you input on this. Thanks

[2022-11-22 23:31] joshuafernandes commented on #217
Hello @jmcounters

What OS are you running this on? Could you also give us a run through of how you started things up please so we can replicate?

Thanks

[2022-11-23 04:15] jmcounters commented on #217
Hi @joshuafernandes ,

Good day!!! Thanks for your response!

So here's what the environment is like.

1. Operating system - I have run into this constantly with no fail on Ubuntu 18.04, 20.04, 22.04
2. Docker Engine - 20.10.21
3. Docker Compose - 2.12.2. This came with the Docker Engine installation. I use it with Docker Compose-switch, a tool to run docker compose commands in v1.x accepted comma

[2022-11-23 06:43] joshuafernandes commented on #217
Hello @jmcounters Thankyou for that. I wouldn't go back as far as Ubuntu 18.04, but the quickstart should work fine on ubuntu 20.04 or 22.04

I've personally got my machine running on 22.04 natively. Are you running WSL with Ubuntu by any chance? Out of curiosity what are your hardware resources like (specifically RAM)

You can check why the containers are dying with

```docker ps -a ```

Then

``

[2022-11-23 06:49] jmcounters commented on #217
It doesn't say anything related to why it's starting with the docker ps -a. For the logs, here's the result as shared previously where I used the container ID instead
![image](https://user-images.githubusercontent.com/118317606/203486670-4077a2f0-8a7f-406e-8a16-86068af924cf.png)

I'm running the Ubuntu servers on azure and not using WSL. I tried WSL on my local windows machine but I don't think wi

[2022-11-23 12:17] jmcounters commented on #217
Hi @joshuafernandes,

I did try this setup

[2022-11-23 13:35] joshuafernandes commented on #217
Hi @jmcounters that is really very odd.

I'll be back online in around 7 hours, Im on AEST at present. This might work for you in the interim? https://azuremarketplace.microsoft.com/en-us/marketplace/apps/consensys.quorum-dev-quickstart?tab=overview was published a wee while ago but I think will have enough to get you going?

Cheers

[2022-11-23 21:24] joshuafernandes commented on #217
On Windows 11 with WSL2 you can do this a couple of ways:
1. Install WSL2 & docker desktop (set this up so the it uses the wsl2 based engine per https://docs.docker.com/desktop/windows/wsl/)
2. Give it enough memory & cpu - think about 8-12G ram would do well
3. Start a terminal session in WSL2 which I think already has nodejs - if not install there
4. Run `docker ps` to make sure this works
5. Th

[2022-11-23 21:26] joshuafernandes commented on #217
One thing I'll add here is that you must run the npx command in the context of the WSL2 shell - it won't work if you did this on the windows drive first via powershell (anywhere on /mnt/c/... will fail)

[2022-11-23 21:47] joshuafernandes commented on #217
On Azure using the Marketplace offering with default settings https://azuremarketplace.microsoft.com/en-us/marketplace/apps/consensys.quorum-dev-quickstart?tab=overview

This runs on ubuntu 18.04 from the look of it and the setup of the vm lives at ```/var/lib/waagent/custom-script/download/0# cat qdq-setup.sh ```

![image](https://user-images.githubusercontent.com/3722503/203650793-b06fce5b-6bd0-

[2022-11-23 23:25] joshuafernandes commented on #212
Hi @cyborgdennett this is fixed in 0.0.80

Run `npx quorum-dev-quickstart@0.0.80` and you should be sorted

Cheers

[2022-11-23 23:25] #212 closed

[2022-11-24 02:16] jmcounters commented on #217
Hi @joshuafernandes

I still pursued working on my WSL2 Ubuntu on Windows 11. Had to reset to start fresh after upping the memory. Same issue. Here's the result of `top`

![image](https://user-images.githubusercontent.com/118317606/203679112-6ba52d4b-6f63-45d8-8c28-4cd94e422843.png)

How do we go about inspecting why these containers won't start?

While waiting for your response, I will try Quicks

[2022-11-24 06:41] joshuafernandes commented on #217
Aye, thats very odd indeed. The problem is being able to reproduce this and I can't seem to get it to do that. What have you got for RAM at present on docker in WSL2? The only thing to do is to check the logs and see why the containers fail, but short of that there's little more that can be done. Let us know how you go with the VM on Azure.

An alternative to this is to run the binaries by hand an

[2022-11-24 12:01] jmcounters commented on #217
Hi @joshuafernandes,

Azure template worked for me! I'm only on free azure subscription so I'd like to know what's the best way to shut these services down so I can return from it perfectly fine. Currently, aside from the quickstart, I have installed Cakeshop as it is required of me to setup.

Thank you!

[2022-11-24 20:53] joshuafernandes commented on #217
Hi @jmcounters

Good to hear!

Check the file on the VM at `/var/lib/waagent/custom-script/download/0# cat qdq-setup.sh` - that is all you need to get up and going on a linux host. The quickstart is designed to _just_ start and run be it Windows, OSX or Linux.

I'd imagine you need to shut the VM down to save on cost, you may still pay for things like an IP but that'd be minimal. When you have thi

[2022-11-24 20:53] #217 closed

[2022-11-29 03:45] jmcounters opened #219 "Basic System Components"
Hi!

I'm new to Quorum and I am following some activities/questions to learn it but I am struggling to find them in the documentations. I have successfully deployed the quickstart and in need of answers on how to demonstrate/show the following via CLI or any tools that came with the quickstart tool:

1. Basic system components of Quorum and how they interface with each other to form a blockchain n